@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --gradiant-color: linear-gradient(180deg, var(--primary-color), #00478f);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* * pre-requisits */
body {
  font-family: Lato, sans-serif;
}

/* * Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  font-size: 2rem;
}

.btn {
  font-weight: 100;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  transform: scale(0.97);
  border-color: #d3d3d3;
}

.card {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

/* * Navbar */
.navbar {
  color: #fff;
  background-color: var(--primary-color);
  height: 70px;
  position: sticky;
  top: -10px;
  z-index: 10;
}
.navbar h1 {
  padding-left: 10px;
}

.navbar h1 a,
.navbar ul li a{
  color: #fff;
}

.navbar ul li{
  padding: 10px;
  margin: 0 5px;
  display: inline;
}

.navbar ul li:hover {
  border-bottom: 2px solid #fff;
}

/* * Showcase */
.showcase{
  color: #fff;
  background: var(--gradiant-color);
  /* ! din't understood --- why to add relative to get the slant below the showcase*/
  /* position: relative; */
}

/* !din't understood*/
/* .showcase::before,
.showcase::after{
  content: "";
  position: absolute;
  height: 100px;
  background-color: #fff;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(-3deg);
} */

.showcase-text h2 {
  font-size: 2.5rem;
  margin-top: 10px;
}

.showcase-text {
  max-width: 60%;
  padding: 0 40px 0 10px;
}

.showcase-text p {
  margin: 20px 0;
  line-height: 1.5em;
}

.showcase-text .btn {
  background-color: transparent;
  padding: 1em 2em;
  font-size: 1em;
  color: #d8d8d8;
}

.showcase-form {
  width: 40%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 10px;
  position: relative;
  top: 60px;
  z-index: 2;
}

.showcase-form p {
  color: #333;
  margin-bottom: 35px;
}

.showcase-form input {
  font-size: 0.9rem;
  border: 0;
  border-bottom: 1px solid #b4becb;
  margin-bottom: 35px;
  padding: 4px 0;
}

.showcase-form .btn {
  color: #fff;
  width: 100px;
  height: 40px;
  background-color: var(--primary-color);
}

/* * Stats */
.stats {
  display: grid;
  margin-top : 100px;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  color: #333333;
  font-weight: 700;
}

.stats .paragraph {
  grid-column: 1/4;
  justify-self: center;
  max-width: 40%;
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.7em;
}

.stats div{
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.stats div *:nth-child(2) {
  font-size: 2.1em;
  padding-top: 10px;
  padding-bottom: 20px;
}

.stats div *:nth-child(3) {
  font-size: 1.2em;
  color: #0052a3;
}

/* * CLI */
.cli {
  margin-bottom: 50px;
}

.cli img {
  width: 65%;
}

.cli p {
  font-weight: 700;
  font-size: 1.2em;
  color: #333333;
  padding: 20px 40px 20px 20px;
}

.cli p:nth-child(2) {
  margin-top: 60px;
}

/* * Cloud Hosting */
.cloud {
  color: #fff;
  background-color: var(--primary-color);
  padding: 30px 0;
}

.cloud .grid {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.cloud img {
  width: 100%;
}

.cloudtext{
  text-align: center;
}

.cloudtext h2 {
  font-size: 3rem;
  padding: 0.6em 0;
}

.cloudtext p {
  font-size: 1.3em;
  padding-bottom: 15px;
}

.cloudtext .btn {
  padding: 12px 30px;
  font-size: 1em;
  background-color: #00274e;
  border: 1px solid #00274e;
  color: #afc5dd;
}

/* * Supported Languages */
.language {
  padding: 40px 0px;
}

.language h2{
  padding-bottom: 40px;
  text-align: center;
}

.language .flex {
  flex-wrap: wrap;
  justify-content: center;
}

.langlist div {
  text-align: center;
  margin: 20px 10px;
  transition-duration: 0.2s;
  position: relative;
  top: 0px;
  padding: 17px;
  /* or */
  /* transition: transform 0.2s ease-in; */
}


.langlist div:hover {
  top: -20px;
  /* or */
  /* transform: translateY(-15px); */
}

.langlist div p{
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

/* * Footer */
.footer {
  background-color: #001f3b;
}

.footer .flex{
  padding: 50px 20px;
  padding-right: 40px;
}

.footertext {
  padding: 20px;
  color: #fff;
}

.footertext p{
  padding: 15px 0;
}

.nav li a {
  color: #e4e4e4;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.7em;
}

.social *{
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

/* * Features */
.head{
  color: #fff;
  background: var(--gradiant-color);
}

.head img{
  width: 200px;
}

.head .flex {
  padding: 30px 0;
}

.head .flex h2 {
  font-size: 3.5rem;
}

.head p {
  font-size: 1.2rem;
  margin: 1em 0;
  max-width: 500px;
}

.subhead {
  background-color: #f4f4f4;
  padding: 30px 0;
}

.subhead img {
  width: 300px;
}

.subhead p {
  max-width: 500px;
  margin: 1em 0;
}

.featuregrid .flex {
  justify-content: flex-start;
  padding: 30px 20px;
}

.featuregrid .flex *{
  padding: 10px;
}

.featuregrid {
  padding: 20px 0;
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.featuregrid div:nth-of-type(1) {
  grid-column: 1/4;
}

.featuregrid div:nth-of-type(2) {
  grid-column: 1/3;
}


/* * Tablets */
@media (max-width: 768px) {
  .showcase .flex{
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .showcase-text {
    margin-top: 30px;
    max-width: 90%;
    text-align: center;
  }

  .showcase-form {
    width: 60%;
  }

  .stats {
    grid-template-columns: 1fr;
  }

  .stats .paragraph {
    grid-column: auto;
    max-width: 60%;
  }

  .cli {
    flex-direction: column;
  }

  .cli img{
    width: 100%;
  }

  .cli p {
    display: inline-block;
    width: 100%;
  }

  .cloud .grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .foot {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav li a{
    padding-left: 20px;
  }

  .social {
    padding-left: 10px;
  }

}

/* * Mobile */
@media (max-width: 500px) {
  .navbar {
    padding: 10px 0;
    height: auto;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    margin: 0;
    margin-top: 10px;
    background-color: #046fda;
    padding: 12px;
  }

  .navbar ul li {
    padding: 0;
  }

  .showcase-form {
    width: 80%;
  }
}
